<div class="page">

  <app-navbar></app-navbar>

  <main class="content">

    <h1>Il mio Profilo</h1>

    <div class="profile-card">

      <div class="profile-header">

        <div class="avatar">
          MR
        </div>

        <div>
          <h2>Mario Rossi</h2>
          <p>Intestatario del conto</p>
        </div>

      </div>

      <div class="profile-data">

        <div>
          <span>Nome</span>
          <strong>Mario</strong>
        </div>

        <div>
          <span>Cognome</span>
          <strong>Rossi</strong>
        </div>

        <div>
          <span>Email</span>
          <strong>mario.rossi@email.it</strong>
        </div>

        <div>
          <span>Data apertura</span>
          <strong>10/09/2026</strong>
        </div>

        <div>
          <span>IBAN</span>
          <strong>IT00X0000000000000000000000</strong>
        </div>

        <div>
          <span>Conto Corrente ID</span>
          <strong>1001</strong>
        </div>

      </div>

    </div>

  </main>

</div>