<div class="page">

  <app-navbar></app-navbar>

  <main class="content">

    <div class="page-header">
      <h1>Benvenuto Mario Rossi 👋</h1>
      <p>Questa è la panoramica del tuo conto corrente.</p>
    </div>

    <div class="balance-card">

      <div>
        <span>Saldo disponibile</span>
        <h2>€ 2.450,75</h2>
      </div>

      <div class="balance-icon">
        €
      </div>

    </div>

    <div class="section-header">
      <h2>Ultimi movimenti</h2>

      <a href="#" class="btn-secondary">
        Vedi tutti
      </a>
    </div>

    <div class="table-card">

      <table>

        <thead>
          <tr>
            <th>Data</th>
            <th>Categoria</th>
            <th>Descrizione</th>
            <th>Importo</th>
            <th>Saldo</th>
            <th></th>
          </tr>
        </thead>

        <tbody>

          <tr>
            <td>20/09/2026</td>
            <td>Bonifico Entrata</td>
            <td>Bonifico ricevuto</td>
            <td class="entrata">+ € 500,00</td>
            <td>€ 2.450,75</td>
            <td>
              <button class="btn-detail">
                Dettagli
              </button>
            </td>
          </tr>

          <tr>
            <td>18/09/2026</td>
            <td>Ricarica</td>
            <td>Ricarica cellulare</td>
            <td class="uscita">- € 20,00</td>
            <td>€ 1.950,75</td>
            <td>
              <button class="btn-detail">
                Dettagli
              </button>
            </td>
          </tr>

          <tr>
            <td>15/09/2026</td>
            <td>Pagamento Utenze</td>
            <td>Pagamento bolletta</td>
            <td class="uscita">- € 80,00</td>
            <td>€ 1.970,75</td>
            <td>
              <button class="btn-detail">
                Dettagli
              </button>
            </td>
          </tr>

        </tbody>

      </table>

    </div>

  </main>

</div>